/* src/components/styles/MenuCategory.css */

.menu-category {
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #f0f0f0; /* Soft break between categories */
}

.menu-category:last-child {
    border-bottom: none; /* No separator for the final category */
    margin-bottom: 0;
}

.category-title {
    font-size: 1.6em;
    font-weight: 700;
    color: #282c3f; /* Secondary brand color */
    margin-bottom: 15px;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
}

.category-title::after {
    /* Simple underline effect */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ef4f5f; /* Primary brand red/pink */
}

.category-dishes-wrapper {
    /* Contains all DishCard components */
    display: flex;
    flex-direction: column;
}